build/
build-clang/
build-clangcl/
build-clang-ninja/
test/logs/
build-demo/
demo/goal/data/
demo/step/data/
test/data/tmp/
*.bin
demo_*_export.c
demo_network_*_functions.c
test_weights_export.c
demo/sevenseg/data/
